<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tzw.noah">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name="com.tzw.noah.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.home.HomeMainActivity" />
        <activity android:name=".ui.circle.CirileMainActivity" />
        <activity android:name=".ui.service.ServiceMainActivity" />
        <activity android:name=".ui.friend.FriendMainActivity" />
        <activity android:name=".ui.sns.SnsMainActivity" />
        <activity android:name=".ui.mine.MineMainActivity" />
        <activity android:name=".ui.mine.LoginActivity" />
        <activity android:name=".ui.mine.RegisterActivity" />
        <activity android:name=".ui.mine.AboutActivity" />
        <activity android:name=".ui.mine.FeedbackActivity" />
        <activity android:name=".ui.mine.setting.SettingActivity" />
        <activity android:name=".ui.mine.setting.PersonalSettingActivity" />
        <activity android:name=".ui.mine.setting.CommonActivity" />
        <activity android:name=".ui.mine.setting.SafeActivity" />
        <activity android:name=".ui.mine.setting.SafeDeviceActivity" />
        <activity android:name=".ui.mine.setting.SafePwdActivity" />
        <activity android:name=".ui.mine.setting.personal.NickNameActivity" />
        <activity android:name=".ui.mine.setting.personal.BirthdayActivity" />
        <activity android:name=".ui.mine.setting.personal.AreaProvinceActivity" />
        <activity android:name=".ui.mine.setting.personal.AreaCityActivity" />
        <activity android:name=".ui.mine.setting.personal.AreaTownActivity" />
        <activity android:name=".ui.mine.setting.personal.SexActivity" />
        <activity android:name=".ui.mine.setting.personal.InterestActivity" />
        <activity android:name=".ui.mine.setting.personal.CharacterActivity" />
        <activity android:name=".ui.mine.setting.personal.WorkActivity" />
        <activity android:name=".ui.mine.setting.personal.SignActivity" />
        <activity android:name=".ui.mine.setting.CommonSizeActivity" />
        <activity android:name=".ui.sns.friendlist.FriendListActivity" />
        <activity android:name=".ui.sns.friendlist.BlackListActivity" />
        <activity android:name=".ui.sns.friendlist.RecommendListActivity" />
        <activity android:name=".ui.sns.friendlist.RecommendGroupListActivity" />
        <activity android:name=".ui.sns.friendlist.DiscussListActivity" />
        <activity android:name=".ui.sns.add.AddActivity" />
        <activity android:name=".ui.sns.add.BookActivity" />
        <activity android:name=".ui.sns.add.GroupApplyActivity" />
        <activity android:name=".ui.sns.add.NearbyListActivity" />
        <activity android:name=".ui.sns.discuss.DiscussCreateActivity" />
        <activity android:name=".ui.sns.discuss.DiscussDetailActivity" />
        <activity android:name=".ui.sns.chat.ChatActivity" />
        <activity android:name=".ui.sns.personal.PersonalActivity" />
        <activity android:name=".ui.sns.personal.PersonalMoreActivity" />
        <activity android:name=".ui.sns.personal.PersonalChatDetailActivity" />
        <activity android:name=".ui.sns.personal.PersonalEditRemarkNameActivity" />
        <activity android:name=".ui.sns.group.GroupDetailActivity" />
        <activity android:name=".ui.sns.group.GroupMemberListActivity" />
        <activity android:name=".ui.sns.group.GroupManagerActivity" />
        <activity android:name=".ui.sns.group.GroupEditActivity" />
        <activity android:name=".ui.sns.group.GroupEditNameActivity" />
        <activity android:name=".ui.sns.group.GroupEditIntroduceActivity" />
        <activity android:name=".ui.sns.group.GroupEditBulletinActivity" />
        <activity android:name=".ui.sns.group.GroupEditMemberNameActivity" />
        <activity android:name=".ui.sns.group.GroupSetAdminActivity" />
        <activity android:name=".ui.sns.group.GroupSelectAdminActivity" />
        <activity android:name=".ui.sns.group.GroupCreateActivity" />
        <activity android:name=".ui.sns.group.GroupTypeSelectActivity" />
        <activity android:name=".ui.sns.group.GroupCreateActivity2" />
        <activity android:name=".ui.sns.group.GroupCreateActivity4" />
        <activity android:name=".ui.sns.group.GroupAddMemberActivity" />
        <activity android:name=".ui.sns.group.GroupRemoveMemberActivity" />
        <activity android:name=".ui.sns.group.GroupEditJoinModeActivity" />
        <activity android:name=".ui.sns.group.GroupTransferOwnerActivity" />
        <activity android:name=".ui.sns.notification.NotificationListActivity" />
        <activity android:name=".ui.sns.notification.NotificationDetailActivity" />

    </application>
    <receiver android:name="com.tzw.noah.broadcast.NetWorkStatusReceiver">
        <intent-filter>
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        </intent-filter>
    </receiver>
    <meta-data
        android:name="me.xiaopan.sketchsample.SketchInitializer"
        android:value="SKETCH_INITIALIZER" />
</manifest>